footer {
  height: 10vh;
  border-radius: 0 0 4px 4px;
  background-color: #0f9675;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: 'conerstone';
  align-items: center;
  width: 100%;

  .foot-content {
    width: 300px;
    color: white;
  }
}
