<!-- <p>All Poster!</p>
<div class="">
        <h1>Details</h1>
        <div *ngFor="let item of result" class = "Details">
            {{item.location}}
            {{item.content}}
            {{item.dateAdded}}
        </div>
</div> -->

<main>
  <button class=" btn btn-light" (click)="addPoster()" type="button">Add Poster</button>
  <a class="btn slide-1btn hero-btn inverted" routerLink="/login" LinkActive="active">
    <span>Login</span>
  </a>
  <section class="container">
    <table *ngIf="result">

      <ng-container *ngFor="let item of result">
        <div class="title-container">
          <div>
            "Name-placeholder"
          </div>
          <span class="title-container__date">
                            {{item.dateAdded | date: 'longDate'}}
                    </span>
        </div>
        <div class="content-container">
          <div class="poster-content" [innerHTML]="item.content"></div>
        </div>
        <img class="posterImg" src={{item.pictures}} alt="">
        <br>
        <button type="button" class="btn btn-warning" (click)="delete(item)">delete</button>
      </ng-container>


    </table>
  </section>
</main>
